.header{
    display: flex;
    justify-content: center;
}

.content{
    display: block;
    justify-content: center;
}
.button_login{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}