.profile_picture{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}   
.logout_button,.profile_picture_button{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}
